* {
  margin: 0;
  padding: 0;
  max-width: 1024px;
}

body {
  font-family: "Inter";
  background: #f1f1f1;
}

.container {
  width: 100%;
  font-family: "Inter";
}

.tab ul {
  list-style-type: none;
  text-align: center;
  background: white;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
.tab ul li {
  color: #f1f1f1;
  float: left;
  width: 203px;
  height: 33px;
  line-height: 40px;
}
.tab ul li a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 400;

  display: block;
}
.tab .quanli1 {
  border-bottom: 3px solid #4284f3;
}
.tab .quanli {
  color: #4284f3;
  font-weight: 600;
}
.from {
  display: flex;
  position: relative;
  padding-top: 20px;
}
.from .fomat {
  display: flex;
  gap: 5px;
}
.from .fomat .saech {
  position: relative;
  display: flex;
  align-items: center;
}
.from .fomat .saech img {
  position: absolute;
  right: 10px;
}
.saech .timkiem {
  width: 250px;
  height: 38px;
  border-radius: 8px;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  background: white;
  border: 1px solid #cad0d7;
  padding-left: 10px;
}
.register {
  position: absolute;
  right: 0px;
}

.register ul {
  display: flex;
  gap: 10px;
}
.register ul li {
  list-style: none;
}
.register .dangki {
  font-size: 14px;
  font-weight: 400;
  color: #4284f3;
  background: white;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #4284f3;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
  list-style: none;
  gap: 5px;
}
.register .dangki img {
  width: 16px;
  height: 16px;
}
.register .danhmuc {
  font-size: 14px;
  font-weight: 400;
  color: white;
  background: #4284f3;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #4284f3;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
}
.list {
  width: 100%;
  padding-top: 20px;
}
.list table {
  width: 100%;
  text-align: justify;
}
.list table .oran {
  background: #0000000d;
}
.list table .melo {
  background: white;
}
.list table tr th {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  line-height: 17px;
}

.list table tr td {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 10px;
  position: relative;
}
.list table tr td .pen {
  position: absolute;
  right: 0px;
}
.list table tr .one {
  display: flex;

  align-items: center;
  gap: 10px;
}
.list table tr .towe {
  display: flex;

  align-items: center;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.list table td .tre {
  display: flex;
  gap: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
